/* lace banner */
#banner{ 
position:fixed; 
width: 100%; 
opacity: .8; 
height: 10px; 
background: #fff; 
z-index: 1; 
margin-top: 0px; 
}

#banner2 { 
background-image:url(‘http://static.tumblr.com/3yblkz0/S8omdno3x/jaja.png’); 
repeat:repeat-x; 
left:0; 
width:100%; 
margin-top: 10px; 
height:18px; 
position: fixed; 
z-index: 1; 
opacity:.8;
}
/* lace banner */
