/*body {
  background-color: rgb(240,250,255);
}*/
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar-img{
	width: 150px;
}
a:hover{
	background-color: rgba(0, 0, 0, 0) !important;
}
.navbar-img-fit{
	width:90%;
}
.navbar-img-third{
	width:33%;
}
.active{
	background-image: url("active.png");
	background-size: 200px;
}
#header-name{
	width: 35%;
	min-width: 150px;
}
.navbar-img-quarter{
	width: 20%;
	max-width: 70px;
}

#pancake{
	width: 30px;
	padding-top: 20px; 
}

.container{
	margin-top: 30px;
	margin-bottom: 40px;
}

#logo{
	padding: 10px;
	width: 100%;
/*	left: 20%;*/
}

.sidelist{
	padding: 20px;
/*    position: absolute;
    top: 20%;*/
    list-style: none;
}
.col-md-4{
	padding: 20px;
}
.box{
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 200px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
}
.box img{
	position: absolute;
	top: -10%;
	left: -10%;
	width: 120%;
	opacity: 1;
	transition-duration: 1s;
}
.box img:hover{
opacity: .4;
}

#moveup{
	top: -60%;
}
.small{
	width: 15px;
}
h3{
	margin-top: 15px;
	font-size: 1em;
	color: rgb(75, 75, 75);
}