img{
    width: 50%;
}
#chanyeol{
    background-image: url("http://66.media.tumblr.com/174f996c9b15a459a964835d4f13754a/tumblr_o9uyycTIaM1vzblb6o1_540.png" );
    width: 1000px;
    height: 525px;
    background-repeat: no-repeat;
    
}

#eyes{
    background-image: url("http://67.media.tumblr.com/07b242fe98168c663bd1de1ab6b1a27e/tumblr_o9wpmwFKJp1vzblb6o1_1280.gif");
    background-repeat: no-repeat;
    position: absolute;
    left: 5%;
    width: 500px;
    height: 500px;
    overflow: hidden;
    margin-left: -72px;
    margin-top: -60px;
}

